  <% if current_user.follows?(@user) %>
    <li id="follow_button"><%= link_to "Unfollow", unfollow_user_path(user_id: @user.id), class: "btn btn-primary buttons", :remote => true %></li>
  <% else %>
    <li id="follow_button"><%= link_to "Follow", follow_user_path(user_id: @user.id), class: "btn btn-primary buttons", :remote => true %></li>
  <% end %>
